#header{
    padding-left: 150px;
    padding-top: 30px;
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}
.nav li a{
    background-color: #000;
    color: #fff;
    text-decoration:none;
    padding: 10px 15px;
    
}
ul, ol {
    list-style: none;
}

.nav  li a:hover {
    background-color: #434343;
}  

.nav > li{
    float: left;
}
.texto{
    text-align: center;
}
