/* estilos.css */

/* Reset mínimo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Color de fondo de Bootstrap */
    color: #212529;
    padding-top: 70px; /* Espacio para la barra de navegación fija */
}

/* Estilos de las Cards */
.card-img-top {
    height: 200px; /* Altura fija para todas las imágenes de card */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

/* Estilo para la sección de contacto */
#mapa {
    height: 300px;
    background-color: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
